{% extends 'base.html' %} {% block content %}
    <h2>Жалобы</h2>
    {% if session.user_id %}
    <form action="/add" method="POST" enctype="multipart/form-data" style="background:#1e1e1e; padding:15px;">
    <input name="title" placeholder="Заголовок" required style="width:100%; margin-bottom:10px;">
    <textarea name="content" placeholder="Описание" style="width:100%; height:80px;"></textarea>
    <input type="file" name="image"><button>Отправить</button></form>
    {% endif %}
    {% for c in complaints %}
    <div style="border:1px solid #444; padding:15px; margin:15px 0;">
    <h3>{{c.title}}</h3><p>{{c.content}}</p>
    <p>Статус: {{c.status}} | Автор: {{c.author}}</p>
    {% if session.role in ['owner', 'admin'] %}
    <a href="{{url_for('update', id=c.id, status='Принять')}}">Принять</a>
    <a href="{{url_for('update', id=c.id, status='Отказать')}}">Отказать</a>{% endif %}
    </div>{% endfor %}{% endblock %}